/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 29 27 28 29>;
            hold-trigger-on-release;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            hold-trigger-on-release;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };

        hyperHT: hyperHT {
            compatible = "zmk,behavior-hold-tap";
            label = "HYPERHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            #hold-trigger-key-positions = <16 19>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ComboCopy {
            bindings = <&kp K_COPY>;
            key-positions = <26 27>;
        };

        ComboCut {
            bindings = <&kp K_CUT>;
            key-positions = <25 26>;
        };

        ComboPaste {
            bindings = <&kp K_PASTE>;
            key-positions = <27 28>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp Q            &kp W            &kp E                &kp R                        &kp T          &kp Y        &kp U                         &kp I                 &kp O             &kp P                &kp BACKSPACE
&kp TAB     &HML LEFT_GUI A  &HML LEFT_ALT S  &HML LEFT_CONTROL D  &hyperHT LA(LC(LEFT_GUI)) F  &kp G          &kp H        &hyperHT RA(RC(RIGHT_GUI)) J  &HMR RIGHT_CONTROL K  &HMR RIGHT_ALT L  &HMR RIGHT_GUI SEMI  &kp SQT
&kp LSHFT   &kp Z            &kp X            &kp C                &kp V                        &kp B          &kp N        &kp M                         &kp COMMA             &kp DOT           &kp SLASH            &kp RIGHT_SHIFT
                                              &kp LEFT_GUI         &mo 3                        &lt 2 SPACE    &lt 1 ENTER  &mo 4                         &kp RIGHT_ALT
            >;
        };

        Num {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5          &kp N6         &kp N7           &kp N8     &kp N9   &kp N0  &trans
&trans  &none   &none   &none   &none   &kp KP_EQUAL    &kp KP_PLUS    &kp KP_MINUS     &none      &none    &none   &none
&trans  &none   &none   &none   &none   &none           &kp KP_DIVIDE  &kp KP_ASTERISK  &kp COMMA  &kp DOT  &none   &trans
                        &trans  &trans  &trans          &trans         &trans           &trans
            >;
        };

        Sym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR          &kp RPAR           &trans
&trans     &none     &none   &none     &none     &none        &kp MINUS  &kp EQUAL  &none      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
&trans     &none     &none   &none     &none     &none        &none      &none      &kp COMMA  &kp DOT           &kp SLASH          &trans
                             &trans    &trans    &trans       &trans     &trans     &trans
            >;
        };

        Nav {
            bindings = <
&none  &none  &none  &none   &kp HOME  &kp PAGE_UP      &none           &none           &none         &none      &none  &none
&none  &none  &none  &none   &kp END   &kp PAGE_DOWN    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &none  &none
&none  &none  &none  &none   &none     &none            &none           &none           &none         &none      &none  &none
                     &trans  &trans    &trans           &trans          &trans          &trans
            >;
        };

        Sys {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &none  &kp C_MUTE         &none   &none     &none   &none   &none   &none          &none  &kp PRINTSCREEN
&none         &none         &none  &kp C_VOLUME_UP    &none   &none     &none   &none   &none   &kp C_AL_LOCK  &none  &none
&bt BT_CLR    &none         &none  &kp C_VOLUME_DOWN  &none   &none     &none   &none   &none   &none          &none  &none
                                   &trans             &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
